@import './colors';
@import './gradients';
@import '../sass-utils/variables';



/**********************************************
		CARD-ROOT
**********************************************/
.MuiCard-root {
	position: relative;
	top: 0;
	left: 0;
	transition: all ease-in-out 0.2s;
	background: $gray90;
	box-shadow: none;
	margin-bottom: 10px;

	&.small {
		.MuiCardContent-root {
			padding: 12px 18px;
		}
	}

	&.clickable {
		background-color: $primary;
		.MuiCardContent-root { color: $white; }

		&:hover, &:focus, &:active {
			top: -20px;
			left: 20px;
			box-shadow:
				rgba($primary, 0.4) -5px 5px,
				rgba($primary, 0.3) -10px 10px,
				rgba($primary, 0.2) -15px 15px,
				rgba($primary, 0.1) -20px 20px,
				rgba($primary, 0.05) -25px 25px;
		}

		&.small {
			&:hover, &:focus, &:active {
				top: -10px;
				left: 10px;
				box-shadow:
					rgba($primary, 0.4) -5px 5px,
					rgba($primary, 0.3) -10px 10px,
					rgba($primary, 0.2) -15px 15px;
			}

			.MuiCardContent-root {
				&:last-child { padding-bottom: 12px; }
			}
		}

		@each $type in $types {
			&[data-type="#{nth($type, 1)}"], &[data-type-one="#{nth($type, 1)}"] {
				background-color: nth($type, 2);
	
				&:hover, &:focus, &:active {
					box-shadow:
						rgba(nth($type, 2), 0.4) -5px 5px,
						rgba(nth($type, 2), 0.3) -10px 10px,
						rgba(nth($type, 2), 0.2) -15px 15px,
						rgba(nth($type, 2), 0.1) -20px 20px,
						rgba(nth($type, 2), 0.05) -25px 25px;
				}

				&.small {
					&:hover, &:focus, &:active {
						box-shadow:
							rgba(nth($type, 2), 0.4) -5px 5px,
							rgba(nth($type, 2), 0.3) -10px 10px,
							rgba(nth($type, 2), 0.2) -15px 15px;
					}
				}
			}
		}

		&.typeGradient {
			@each $type1, $secondTypes in $dualTypes {
				&[data-type-one="#{$type1}"] {
					@each $type2, $grad in $secondTypes {
						&[data-type-two="#{$type2}"] {
							background: $grad;
						}
					}
				}
			}
		}
	}

	.MuiCardContent-root {
		&:last-child { padding-bottom: 16px; }
	}
}



/**********************************************
		CHIP-ROOT
**********************************************/
.MuiChip-root {
	font-family: $primaryFont;
	text-transform: uppercase;

	.MuiChip-label {
		font-weight: 600;
		padding-top: 0.2em;
	}

	&.MuiChip-sizeSmall {
		height: 18px;

		.MuiChip-label {
			font-size: 10px;
		}
	}

	span { font-size: 12px; }

	@each $type in $types {
		&[data-type="#{nth($type, 1)}"] {
			color: $white;
			background-color: nth($type, 2);
			
			&.icon span::before {
				content: '';
				background-image: url('../../../public/assets/#{nth($type, 1)}.svg');
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;
				height: 9px;
				width: 9px;
				display: inline-block;
				margin-right: 5px;
			}

			&.weakness span::before {
				content: '';
				background-image: url('../../../public/assets/#{nth($type, 1)}.svg');
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				height: 14px;
				width: 14px;
			}
		}
	}
}



/**********************************************
		ALERT-ROOT
**********************************************/
.MuiAlert-root {
	font-family: $primaryFont;
	
	.MuiAlert-icon { color: $white; }
	
	.MuiAlert-message {

		.MuiAlertTitle-root { color: $white; }
		
		p { color: $white; }
		
		ul {
			padding-top: 10px;

			li {
				padding-left: 5px;

				&::before {
					content: '•';
					color: #FFFFFF;
					margin-right: 8px;
				}

				a { color: $white; }
			}
		}
	}
}



/**********************************************
		TABSLISTUNSTYLED-ROOT
**********************************************/
.TabsListUnstyled-root {
	.TabUnstyled-root {
		border: none;
		background: none;
		padding: 0;
		margin: 0;

		.MuiChip-root {
			background-color: $gray80;
			color: $white;
		}

		&.Mui-selected {
			.MuiChip-root {
				background-color: $primary;
			}
		}

		.chipTab { margin-bottom: 7px; }
		&:not(:last-child) .chipTab { margin-right: 7px; }
	}
}



/**********************************************
		MUISVGICON-ROOT
**********************************************/
.MuiSvgIcon-root.infoHover {
	height: 15px;
	width: 15px;
}



/**********************************************
		MUIINPUTBASE-ROOT
**********************************************/
.MuiInputBase-root {
	&.linked {
		.MuiMenuItem-root {
			padding: 0;
			
			.MuiLink-root {
				padding: 6px 16px;
				width: 100%;
			}
		}
	}
}