@import '../base/colors';
@import '../sass-utils/variables';

.MuiChip-root {
	font-family: $primaryFont;
	text-transform: uppercase;

	.MuiChip-label {
		font-weight: 600;
		padding-top: 0.2em;
	}

	&.MuiChip-sizeSmall {
		height: 18px;

		.MuiChip-label {
			font-size: 10px;
		}
	}

	@each $type in $types {
		&[data-type="#{nth($type, 1)}"] {
			color: $white;
			background-color: nth($type, 2);
		}
	}
}

.MuiCard-root {
	@each $type in $types {
		&[data-type="#{nth($type, 1)}"] {
			color: $white;
			background-color: nth($type, 2);
		}
	}
}