@import url("https://use.typekit.net/fbk7wmd.css");
@import './colors';
@import '../sass-utils/variables';

body, html,
h1, h2, h3,
h4, h5, h6,
div, p, a,
ul, li,
button {
	font-family: $primaryFont;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	line-height: 1.2;
	color: $text;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1 { font-size: 30px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 15px; }
h6 { font-size: 15px; font-weight: 400; }

span { font-family: $primaryFont; font-size: 15px; }

.small { font-size: 0.7em; }

.japanese {
	font-family: 'source-han-sans-japanese';
	font-weight: 700;
}