@import '../base/colors';
@import '../base/gradients';

$primaryFont: 'source-sans-3', sans-serif;

$types: (
	( 'bug', $bug, $bugLight, $bugDark ),
	( 'dark', $dark, $darkLight, $darkDark ),
	( 'dragon', $dragon, $dragonLight, $dragonDark ),
	( 'electric', $electric, $electricLight, $electricDark ),
	( 'fairy', $fairy, $fairyLight, $fairyDark ),
	( 'fighting', $fighting, $fightingLight, $fightingDark ),
	( 'fire', $fire, $fireLight, $fireDark ),
	( 'flying', $flying, $flyingLight, $flyingDark ),
	( 'ghost', $ghost, $ghostLight, $ghostDark ),
	( 'grass', $grass, $grassLight, $grassDark ),
	( 'ground', $ground, $groundLight, $groundDark ),
	( 'ice', $ice, $iceLight, $iceDark ),
	( 'normal', $normal, $normalLight, $normalDark ),
	( 'poison', $poison, $poisonLight, $poisonDark ),
	( 'psychic', $psychic, $psychicLight, $psychicDark ),
	( 'rock', $rock, $rockLight, $rockDark ),
	( 'steel', $steel, $steelLight, $steelDark ),
	( 'water', $water, $waterLight, $waterDark ),
	// ( '???', $unknown, $unknownLight, $unknownDark ),
);

$dualTypes: (
	'bug': (
		'': ($grad-bug-bug),
		'null': ($grad-bug-bug),
		'dark': ($grad-bug-dark),
		'dragon': ($grad-bug-dragon),
		'electric': ($grad-bug-electric),
		'fairy': ($grad-bug-fairy),
		'fighting': ($grad-bug-fighting),
		'fire': ($grad-bug-fire),
		'flying': ($grad-bug-flying),
		'ghost': ($grad-bug-ghost),
		'grass': ($grad-bug-grass),
		'ground': ($grad-bug-ground),
		'ice': ($grad-bug-ice),
		'normal': ($grad-bug-normal),
		'poison': ($grad-bug-poison),
		'psychic': ($grad-bug-psychic),
		'rock': ($grad-bug-rock),
		'steel': ($grad-bug-steel),
		'water': ($grad-bug-water)
	),
	'dark': (
		'': ($grad-dark-dark),
		'null': ($grad-dark-dark),
		'bug': ($grad-dark-bug),
		'dragon': ($grad-dark-dragon),
		'electric': ($grad-dark-electric),
		'fairy': ($grad-dark-fairy),
		'fighting': ($grad-dark-fighting),
		'fire': ($grad-dark-fire),
		'flying': ($grad-dark-flying),
		'ghost': ($grad-dark-ghost),
		'grass': ($grad-dark-grass),
		'ground': ($grad-dark-ground),
		'ice': ($grad-dark-ice),
		'normal': ($grad-dark-normal),
		'poison': ($grad-dark-poison),
		'psychic': ($grad-dark-psychic),
		'rock': ($grad-dark-rock),
		'steel': ($grad-dark-steel),
		'water': ($grad-dark-water)
	),
	'dragon': (
		'': ($grad-dragon-dragon),
		'null': ($grad-dragon-dragon),
		'bug': ($grad-dragon-bug),
		'dark': ($grad-dragon-dark),
		'electric': ($grad-dragon-electric),
		'fairy': ($grad-dragon-fairy),
		'fighting': ($grad-dragon-fighting),
		'fire': ($grad-dragon-fire),
		'flying': ($grad-dragon-flying),
		'ghost': ($grad-dragon-ghost),
		'grass': ($grad-dragon-grass),
		'ground': ($grad-dragon-ground),
		'ice': ($grad-dragon-ice),
		'normal': ($grad-dragon-normal),
		'poison': ($grad-dragon-poison),
		'psychic': ($grad-dragon-psychic),
		'rock': ($grad-dragon-rock),
		'steel': ($grad-dragon-steel),
		'water': ($grad-dragon-water)
	),
	'electric': (
		'': ($grad-electric-electric),
		'null': ($grad-electric-electric),
		'bug': ($grad-electric-bug),
		'dark': ($grad-electric-dark),
		'dragon': ($grad-electric-dragon),
		'fairy': ($grad-electric-fairy),
		'fighting': ($grad-electric-fighting),
		'fire': ($grad-electric-fire),
		'flying': ($grad-electric-flying),
		'ghost': ($grad-electric-ghost),
		'grass': ($grad-electric-grass),
		'ground': ($grad-electric-ground),
		'ice': ($grad-electric-ice),
		'normal': ($grad-electric-normal),
		'poison': ($grad-electric-poison),
		'psychic': ($grad-electric-psychic),
		'rock': ($grad-electric-rock),
		'steel': ($grad-electric-steel),
		'water': ($grad-electric-water)
	),
	'fairy': (
		'': ($grad-fairy-fairy),
		'null': ($grad-fairy-fairy),
		'bug': ($grad-fairy-bug),
		'dark': ($grad-fairy-dark),
		'dragon': ($grad-fairy-dragon),
		'electric': ($grad-fairy-electric),
		'fighting': ($grad-fairy-fighting),
		'fire': ($grad-fairy-fire),
		'flying': ($grad-fairy-flying),
		'ghost': ($grad-fairy-ghost),
		'grass': ($grad-fairy-grass),
		'ground': ($grad-fairy-ground),
		'ice': ($grad-fairy-ice),
		'normal': ($grad-fairy-normal),
		'poison': ($grad-fairy-poison),
		'psychic': ($grad-fairy-psychic),
		'rock': ($grad-fairy-rock),
		'steel': ($grad-fairy-steel),
		'water': ($grad-fairy-water)
	),
	'fighting': (
		'': ($grad-fighting-fighting),
		'null': ($grad-fighting-fighting),
		'bug': ($grad-fighting-bug),
		'dark': ($grad-fighting-dark),
		'dragon': ($grad-fighting-dragon),
		'electric': ($grad-fighting-electric),
		'fairy': ($grad-fighting-fairy),
		'fire': ($grad-fighting-fire),
		'flying': ($grad-fighting-flying),
		'ghost': ($grad-fighting-ghost),
		'grass': ($grad-fighting-grass),
		'ground': ($grad-fighting-ground),
		'ice': ($grad-fighting-ice),
		'normal': ($grad-fighting-normal),
		'poison': ($grad-fighting-poison),
		'psychic': ($grad-fighting-psychic),
		'rock': ($grad-fighting-rock),
		'steel': ($grad-fighting-steel),
		'water': ($grad-fighting-water)
	),
	'fire': (
		'': ($grad-fire-fire),
		'null': ($grad-fire-fire),
		'bug': ($grad-fire-bug),
		'dark': ($grad-fire-dark),
		'dragon': ($grad-fire-dragon),
		'electric': ($grad-fire-electric),
		'fairy': ($grad-fire-fairy),
		'fighting': ($grad-fire-fighting),
		'flying': ($grad-fire-flying),
		'ghost': ($grad-fire-ghost),
		'grass': ($grad-fire-grass),
		'ground': ($grad-fire-ground),
		'ice': ($grad-fire-ice),
		'normal': ($grad-fire-normal),
		'poison': ($grad-fire-poison),
		'psychic': ($grad-fire-psychic),
		'rock': ($grad-fire-rock),
		'steel': ($grad-fire-steel),
		'water': ($grad-fire-water)
	),
	'flying': (
		'': ($grad-flying-flying),
		'null': ($grad-flying-flying),
		'bug': ($grad-flying-bug),
		'dark': ($grad-flying-dark),
		'dragon': ($grad-flying-dragon),
		'electric': ($grad-flying-electric),
		'fairy': ($grad-flying-fairy),
		'fighting': ($grad-flying-fighting),
		'fire': ($grad-flying-fire),
		'ghost': ($grad-flying-ghost),
		'grass': ($grad-flying-grass),
		'ground': ($grad-flying-ground),
		'ice': ($grad-flying-ice),
		'normal': ($grad-flying-normal),
		'poison': ($grad-flying-poison),
		'psychic': ($grad-flying-psychic),
		'rock': ($grad-flying-rock),
		'steel': ($grad-flying-steel),
		'water': ($grad-flying-water)
	),
	'ghost': (
		'': ($grad-ghost-ghost),
		'null': ($grad-ghost-ghost),
		'bug': ($grad-ghost-bug),
		'dark': ($grad-ghost-dark),
		'dragon': ($grad-ghost-dragon),
		'electric': ($grad-ghost-electric),
		'fairy': ($grad-ghost-fairy),
		'fighting': ($grad-ghost-fighting),
		'fire': ($grad-ghost-fire),
		'flying': ($grad-ghost-flying),
		'grass': ($grad-ghost-grass),
		'ground': ($grad-ghost-ground),
		'ice': ($grad-ghost-ice),
		'normal': ($grad-ghost-normal),
		'poison': ($grad-ghost-poison),
		'psychic': ($grad-ghost-psychic),
		'rock': ($grad-ghost-rock),
		'steel': ($grad-ghost-steel),
		'water': ($grad-ghost-water)
	),
	'grass': (
		'': ($grad-grass-grass),
		'null': ($grad-grass-grass),
		'bug': ($grad-grass-bug),
		'dark': ($grad-grass-dark),
		'dragon': ($grad-grass-dragon),
		'electric': ($grad-grass-electric),
		'fairy': ($grad-grass-fairy),
		'fighting': ($grad-grass-fighting),
		'fire': ($grad-grass-fire),
		'flying': ($grad-grass-flying),
		'ghost': ($grad-grass-ghost),
		'ground': ($grad-grass-ground),
		'ice': ($grad-grass-ice),
		'normal': ($grad-grass-normal),
		'poison': ($grad-grass-poison),
		'psychic': ($grad-grass-psychic),
		'rock': ($grad-grass-rock),
		'steel': ($grad-grass-steel),
		'water': ($grad-grass-water)
	),
	'ground': (
		'': ($grad-ground-ground),
		'null': ($grad-ground-ground),
		'bug': ($grad-ground-bug),
		'dark': ($grad-ground-dark),
		'dragon': ($grad-ground-dragon),
		'electric': ($grad-ground-electric),
		'fairy': ($grad-ground-fairy),
		'fighting': ($grad-ground-fighting),
		'fire': ($grad-ground-fire),
		'flying': ($grad-ground-flying),
		'ghost': ($grad-ground-ghost),
		'grass': ($grad-ground-grass),
		'ice': ($grad-ground-ice),
		'normal': ($grad-ground-normal),
		'poison': ($grad-ground-poison),
		'psychic': ($grad-ground-psychic),
		'rock': ($grad-ground-rock),
		'steel': ($grad-ground-steel),
		'water': ($grad-ground-water)
	),
	'ice': (
		'': ($grad-ice-ice),
		'null': ($grad-ice-ice),
		'bug': ($grad-ice-bug),
		'dark': ($grad-ice-dark),
		'dragon': ($grad-ice-dragon),
		'electric': ($grad-ice-electric),
		'fairy': ($grad-ice-fairy),
		'fighting': ($grad-ice-fighting),
		'fire': ($grad-ice-fire),
		'flying': ($grad-ice-flying),
		'ghost': ($grad-ice-ghost),
		'grass': ($grad-ice-grass),
		'ground': ($grad-ice-ground),
		'normal': ($grad-ice-normal),
		'poison': ($grad-ice-poison),
		'psychic': ($grad-ice-psychic),
		'rock': ($grad-ice-rock),
		'steel': ($grad-ice-steel),
		'water': ($grad-ice-water)
	),
	'normal': (
		'': ($grad-normal-normal),
		'null': ($grad-normal-normal),
		'bug': ($grad-normal-bug),
		'dark': ($grad-normal-dark),
		'dragon': ($grad-normal-dragon),
		'electric': ($grad-normal-electric),
		'fairy': ($grad-normal-fairy),
		'fighting': ($grad-normal-fighting),
		'fire': ($grad-normal-fire),
		'flying': ($grad-normal-flying),
		'ghost': ($grad-normal-ghost),
		'grass': ($grad-normal-grass),
		'ground': ($grad-normal-ground),
		'ice': ($grad-normal-ice),
		'poison': ($grad-normal-poison),
		'psychic': ($grad-normal-psychic),
		'rock': ($grad-normal-rock),
		'steel': ($grad-normal-steel),
		'water': ($grad-normal-water)
	),
	'poison': (
		'': ($grad-poison-poison),
		'null': ($grad-poison-poison),
		'bug': ($grad-poison-bug),
		'dark': ($grad-poison-dark),
		'dragon': ($grad-poison-dragon),
		'electric': ($grad-poison-electric),
		'fairy': ($grad-poison-fairy),
		'fighting': ($grad-poison-fighting),
		'fire': ($grad-poison-fire),
		'flying': ($grad-poison-flying),
		'ghost': ($grad-poison-ghost),
		'grass': ($grad-poison-grass),
		'ground': ($grad-poison-ground),
		'ice': ($grad-poison-ice),
		'normal': ($grad-poison-normal),
		'psychic': ($grad-poison-psychic),
		'rock': ($grad-poison-rock),
		'steel': ($grad-poison-steel),
		'water': ($grad-poison-water)
	),
	'psychic': (
		'': ($grad-psychic-psychic),
		'null': ($grad-psychic-psychic),
		'bug': ($grad-psychic-bug),
		'dark': ($grad-psychic-dark),
		'dragon': ($grad-psychic-dragon),
		'electric': ($grad-psychic-electric),
		'fairy': ($grad-psychic-fairy),
		'fighting': ($grad-psychic-fighting),
		'fire': ($grad-psychic-fire),
		'flying': ($grad-psychic-flying),
		'ghost': ($grad-psychic-ghost),
		'grass': ($grad-psychic-grass),
		'ground': ($grad-psychic-ground),
		'ice': ($grad-psychic-ice),
		'normal': ($grad-psychic-normal),
		'poison': ($grad-psychic-poison),
		'rock': ($grad-psychic-rock),
		'steel': ($grad-psychic-steel),
		'water': ($grad-psychic-water)
	),
	'rock': (
		'': ($grad-rock-rock),
		'null': ($grad-rock-rock),
		'bug': ($grad-rock-bug),
		'dark': ($grad-rock-dark),
		'dragon': ($grad-rock-dragon),
		'electric': ($grad-rock-electric),
		'fairy': ($grad-rock-fairy),
		'fighting': ($grad-rock-fighting),
		'fire': ($grad-rock-fire),
		'flying': ($grad-rock-flying),
		'ghost': ($grad-rock-ghost),
		'grass': ($grad-rock-grass),
		'ground': ($grad-rock-ground),
		'ice': ($grad-rock-ice),
		'normal': ($grad-rock-normal),
		'poison': ($grad-rock-poison),
		'psychic': ($grad-rock-psychic),
		'steel': ($grad-rock-steel),
		'water': ($grad-rock-water)
	),
	'steel': (
		'': ($grad-steel-steel),
		'null': ($grad-steel-steel),
		'bug': ($grad-steel-bug),
		'dark': ($grad-steel-dark),
		'dragon': ($grad-steel-dragon),
		'electric': ($grad-steel-electric),
		'fairy': ($grad-steel-fairy),
		'fighting': ($grad-steel-fighting),
		'fire': ($grad-steel-fire),
		'flying': ($grad-steel-flying),
		'ghost': ($grad-steel-ghost),
		'grass': ($grad-steel-grass),
		'ground': ($grad-steel-ground),
		'ice': ($grad-steel-ice),
		'normal': ($grad-steel-normal),
		'poison': ($grad-steel-poison),
		'psychic': ($grad-steel-psychic),
		'rock': ($grad-steel-rock),
		'water': ($grad-steel-water)
	),
	'water': (
		'': ($grad-water-water), 
		'null': ($grad-water-water),
		'bug': ($grad-water-bug),
		'dark': ($grad-water-dark),
		'dragon': ($grad-water-dragon),
		'electric': ($grad-water-electric),
		'fairy': ($grad-water-fairy),
		'fighting': ($grad-water-fighting),
		'fire': ($grad-water-fire),
		'flying': ($grad-water-flying),
		'ghost': ($grad-water-ghost),
		'grass': ($grad-water-grass),
		'ground': ($grad-water-ground),
		'ice': ($grad-water-ice),
		'normal': ($grad-water-normal),
		'poison': ($grad-water-poison),
		'psychic': ($grad-water-psychic),
		'rock': ($grad-water-rock),
		'steel': ($grad-water-steel)
	)
);