@import '../base/colors.scss';
@import '../sass-utils/variables';

#Game {
	.pokedex {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
		row-gap: 20px;
	
		.pokemon {
			text-align: center;
	
			img {
				max-width: 120px;
				max-height: 120px;
			}
	
			.no {
				color: $textLight;
				font-size: 10px;
			}
	
			h3 { font-size: 18px; }
	
			.types {
				justify-content: center;
	
				p {
					font-size: 12px;
	
					span {
						text-transform: capitalize;

						&.divider { margin: 0 5px; }

						@each $type in $types {
							&[data-type="#{nth($type, 1)}"] {
								color: nth($type, 2);
							}
						}
					}
				}
			}
		}
	}
}

